@model Flower_App_copia_1.Data.Pianta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pianta</h4>
    <hr>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeScientifico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeScientifico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizionePianta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizionePianta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Esposizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Esposizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneEsposizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneEsposizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terreno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terreno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PesantezzaDelTerreno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PesantezzaDelTerreno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acidit‡Terreno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acidit‡Terreno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneTerreno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneTerreno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiorituraMinima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiorituraMinima.ToString("d")) <!-- Formatta la data -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiorituraMassima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiorituraMassima.ToString("d")) <!-- Formatta la data -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneFioritura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneFioritura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Irrigazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Irrigazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneIrrigazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneIrrigazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneConcimazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneConcimazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Potatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Potatura.ToString("d")) <!-- Formatta la data -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizionePotatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizionePotatura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ambiente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ambiente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneAmbiente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneAmbiente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdeeCasaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdeeCasaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConsigliId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConsigliId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPianta" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}