@using Flower_App_copia_1.Data
@using static Flower_App_copia_1.Data.Pianta
@model PaginatedList<Flower_App_copia_1.Data.Pianta>

@{
    ViewData["Title"] = "Index";
}

<h1>Piante</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form asp-action="Index" method="get" class="form-inline">
    <input type="text" class="form-control form-control-sm mb-2 mr-sm-2 text" id="Nome" name="Nome" value="@ViewData["FilterNome"]" placeholder="Nome">
    <input type="text" class="form-control form-control-sm mb-2 mr-sm-2 text" id="NomeScientifico" name="NomeScientifico" value="@ViewData["FilterNomeScientifico"]" placeholder="Nome Scientifico">
    <select class="form-control form-control-sm mb-2 mr-sm-2" name="Colore">
        <option value="">Colore</option>
        @foreach (ColoreFiore colore in Enum.GetValues(typeof(ColoreFiore)))
        {
            var filter = (ColoreFiore?)ViewData["FilterColore"];

            <!option value="@((int) colore)" @(filter == colore ? "selected" : "")>@colore</!option>
        }
    </select>
    <select class="form-control form-control-sm mb-2 mr-sm-2" name="Terreno">
        <option value="">Terreno</option>
        @foreach (TipologiaTerreno terreno in Enum.GetValues(typeof(TipologiaTerreno)))
        {
            var filter = (TipologiaTerreno?)ViewData["FilterTerreno"];

            <!option value="@((int) terreno)" @(filter == terreno ? "selected" : "")>@terreno</!option>
        }
    </select>
    <select class="form-control form-control-sm mb-2 mr-sm-2" name="Ambiente">
        <option value="">Ambiente</option>
        @foreach (TipoAmbiente ambiente in Enum.GetValues(typeof(TipoAmbiente)))
        {
            var filter = (TipoAmbiente?)ViewData["FilterAmbiente"];

            <!option value="@((int) ambiente)" @(filter == ambiente ? "selected" : "")>@ambiente</!option>
        }
    </select>

    <button type="submit" class="btn btn-primary mb-2 mr-2">Search</button>
    <a asp-action="Index" class="btn btn-secondary mb-2">Reset</a>
</form>

<table class="table table-striped">
    <caption>Piante list</caption>
    <thead>
        <tr>
            <th class="text">@Html.DisplayNameFor(model => model[0].Nome)</th>
            <th class="text">@Html.DisplayNameFor(model => model[0].NomeScientifico)</th>
            <th class="text">@Html.DisplayNameFor(model => model[0].DescrizionePianta)</th>
            <th class="text">
                @Html.DisplayNameFor(model => model[0].Colore)
            </th>
            <th class="text">
                @Html.DisplayNameFor(model => model[0].Terreno)
            </th>
            <th class="text">
                @Html.DisplayNameFor(model => model[0].Ambiente)
            </th>
            <th class="text">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.NomeScientifico)</td>
                <td>@Html.DisplayFor(modelItem => item.DescrizionePianta)</td>
                <td>@Html.DisplayFor(modelItem => item.Colore)</td>
                <td>@Html.DisplayFor(modelItem => item.Terreno)</td>
                <td>@Html.DisplayFor(modelItem => item.Ambiente)</td>

                <td class="d-flex flex-nowrap">
                    <a asp-action="Delete" asp-route-id="@item.IdPianta" class="btn btn-danger mr-sm-2 float-right">Delete</a>
                    <a asp-action="Details" asp-route-id="@item.IdPianta" class="btn btn-info mr-sm-2 float-right">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.IdPianta" class="btn btn-primary mr-sm-2 float-right">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<!-- Paginazione -->
<div class="d-flex justify-content-between">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       asp-route-Nome="@ViewData["FilterNome"]"
       asp-route-NomeScientifico="@ViewData["FilterNomeScientifico"]"
       asp-route-Colore="@ViewData["FilterColore"]"
       asp-route-Terreno="@ViewData["FilterTerreno"]"
       asp-route-Ambiente="@ViewData["FilterAmbiente"]"
       class="btn btn-primary @prevDisabled">Previous</a>

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       asp-route-Nome="@ViewData["FilterNome"]"
       asp-route-NomeScientifico="@ViewData["FilterNomeScientifico"]"
       asp-route-Colore="@ViewData["FilterColore"]"
       asp-route-Terreno="@ViewData["FilterTerreno"]"
       asp-route-Ambiente="@ViewData["FilterAmbiente"]"
       class="btn btn-primary @nextDisabled">Next</a>
</div>
